html {
  font-family: 'Neuton', serif;
}
h1{
  font-family: 'Concert One', cursive;
}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}
table {
  width: 100%;
  border-spacing: 0px;
}
td, th {
  padding: 1em;
  text-align: left;
}
table tr:nth-child(even){
  background-color: #EEF;
}
.fa-star {
  color: #FFC400;
}
.container {
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  max-width: 960px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  padding: 1.5em;
  box-shadow: 1px 5px 6px #666;
  border-radius: 5px;
  position: relative;
  overflow: scroll;
}
.main-title{
  text-align: center;
}
.actions {
  position: absolute;
  top: 1em;
  right: 1em;
}
.close {
  height: 40px;
  width: 40px;
  color: #FFF;
  border-radius: 50%;
  background-color: #2F80ED;
  display: inline-block;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paragraph {
  line-height: 1.3em;
  font-size: 1.2em;
  font-weight: 200;
}
.title-item {
  border-bottom: solid 2px #2F80ED;
  padding-bottom: 1em;
}
.position {
  background-color: #2F80ED;
  padding: 0.3em;
  color: #FFF;
  border-radius: 2px;
  margin-right: 0.5em;
}
.address {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 1.5em;
  display: inline-block;
}
.main-image {
  float: left;
  margin-right: 1em;
  height: 250px;
}
